* {
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 52px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #dddddd;
  width: fit-content;
}
h3 {
  background-color: #dddddd;
}
h3:has(a) {
  background-color: transparent;   /* but if the h3 contains a link, no background */
}
ul {
  list-style-position: inside;
  list-style: none;
}
h2, h3 {
  background-color: #dddddd;
}
#container {
  margin: 0 auto;
  width: 100%;
  max-width: 1524px;
  background-color: #eeeeee;
}
header {
  display: flex;
  height: 60px;
  margin-bottom: 30px;;
}
main {
  display: flex;
}
header #header-left,
main #main-left {
  flex: 0 0 23.622%;
}

header #header-right,
main #main-right {
  flex: 0 0 28.543%;
}

header #header-middle,
main #main-middle {
  flex: 1;
}
header #header-right {
  display: flex;
  align-items: center;
}
header #header-left a {
  font-size: 48px;
  margin-left: 40px;
}
header #header-right select, button {
  font-size: 28px;
  margin-left: 20px;
}
header #header-right form {
  display: flex;
  gap: 8px;
}
main #main-middle {
  flex: 1;
  display: flex;
}
main #main-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main #main-left form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

main #main-left section {
  margin-left: 20px;
  margin-right: 20px;
}
main #main-left section:first-child,
main #main-left section:last-child {
    font-size: 26px;
}
main #main-left section:nth-of-type(2) button {
  /* the 2nd <section>, counting only sections
  Targetting only the button font size and margin left until I find out the why
 */
  font-size: 18px;
  margin-left: 0px;
}

main #main-middle section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main #main-middle, main #main-right {
  font-size: 24px;
}
main #main-middle ul, main #main-right ul {
  width: fit-content;
}
.main-lists li {
  background-color: white;
  margin-bottom: 1px;
}
