/* Starter CSS provided by Matrix Master for Assignment 1: The Evil Hacker. */
/*CSS reset, don't mind it for now. */
*{
 margin: 5px;
 padding: 5px;
}
#container{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
}
#header{
 height: 150px;
 background-color: blue;
}
#nav_bar{
 height: 300px;
 width: 180px;
 background-color: red; 
}
#main_content{
 height: 360px;
 width: 725px;
 background-color: yellow; 
}
.subcontent{
 height: 200px;
 width: 200px;
 background-color: purple;
}
#advertisements{
 height: 90px;
 width: 670px;
 background-color: pink;
}
